<IfModule mod_rewrite.c>
    RewriteEngine On
    # Redirect all requests to the public folder
    # RewriteRule ^(.*) public/$1 [L]
    # Disable MultiViews and Indexes
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    # Brotli compression
    <IfModule mod_brotli.c>
        RewriteCond %{HTTP:Accept-Encoding} br
        RewriteCond %{REQUEST_FILENAME}\.br -f
        RewriteRule ^(.+)\.(js|css)$ $1.$2.br [L]
        AddEncoding br .br
    </IfModule>

    # Gzip compression
    <IfModule mod_deflate.c>
        RewriteCond %{HTTP:Accept-Encoding} gzip
        RewriteCond %{REQUEST_FILENAME}\.gz -f
        RewriteRule ^(.+)\.(js|css)$ $1.$2.gz [L]
        AddEncoding gzip .gz
    </IfModule>

    # Set correct Content-Type for compressed files
    <IfModule mod_headers.c>
        <FilesMatch "\.js(\.gz|\.br)$">
            Header set Content-Type "text/javascript"
        </FilesMatch>
        <FilesMatch "\.css(\.gz|\.br)$">
            Header set Content-Type "text/css"
        </FilesMatch>
    </IfModule>
</IfModule>